[Unit]
Description=MailThieves/modkit software
Documentation=https://github.com/MailThieves/modkit/wiki

[Service]
WorkingDirectory=/home/pi/MailThieves/modkit/
Environment="MODKIT_IMG_DIR=/home/pi/MailThieves/Front_End/public/img/"
Environment="DATABASE_URL=sqlite:modkit.db"
Environment="RUST_LOG=modkit=trace"
ExecStart=bin/rpi/modkit

[Install]
WantedBy=default.target